# Python bytecode
__pycache__/
*.py[cod]

# Extensiones compiladas
*.so
*.pyd
*.dylib

# Entornos virtuales
.venv/
venv/
env/
ENV/
pip-wheel-metadata/
Lib/
Scripts/
Include/
pyvenv.cfg

# Paquetización / distribución
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
# Archivos de configuración generados automáticamente por PyInstaller
*.spec

# Cachés y herramientas de test
.pytest_cache/
.tox/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.pytype/
.pyre/
.cache/

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Editores/IDE
.vscode/
.idea/
*.code-workspace

# Archivos del sistema operativo
.DS_Store
**/.DS_Store
Thumbs.db
Desktop.ini
